@{
    ViewData["Title"] = "Recruitment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="padding:0px">
    <h3>Recruitment Index</h3>
    <div class="btn-group">
        <button class="btn btn-xs btn-primary" onclick="vacanciesList()"><small>Vacancies</small></button>
        <button class="btn btn-xs btn-default" onclick="candidatesList()"><small>Candidates</small></button>
        <button class="btn btn-xs btn-default" onclick="orgUnitsList()"><small>Business Units</small></button>
    </div>
    <hr />
    <div id="headsSection"></div>
    <div id="positionsSection"></div>
    <div id="listSection"></div>
</div>

<input type="hidden" id="listHF" value="@ViewBag.list" />
@Html.Hidden("filterHF", "VACANCY")
@Html.Hidden("orgUnitTypeIdHF")

@section Scripts
{
    <script>
        $(document).on('ready', function () {
            if ($('#listHF').val() === "Candidates") {
                candidatesList();
            } else if ($('#listHF').val() === "Vacancies") {
                vacanciesList();
            } else {
                orgUnitsList();
            }
        })

        function vacanciesList() {
            $('#candidatesSection').html(null);
            $.ajax({
                url: '@Url.Action("HeadsList", "Recruitment")',
                type: 'GET',
                success: function (result) {
                    $('#headsSection').html(result);
                }
            });
            $.ajax({
                url: '@Url.Action("positionsList", "Recruitment")',
                type: 'GET',
                success: function (result) {
                    $('#positionsSection').html(result);
                }
            });
        }
        function candidatesList() {
            $.ajax({
                url: '@Url.Action("CandidatesList", "Recruitment")',
                type: 'GET',
                success: function (result) {
                    $('#headsSection').html(null);
                    $('#positionsSection').html(null);
                    $('#listSection').html(result);
                }
            });
        }
        function orgUnitsList() {
            $.ajax({
                url: '@Url.Action("OrgUnitsList", "Recruitment")',
                type: 'GET',
                success: function (result) {
                    $('#headsSection').html(null);
                    $('#positionsSection').html(null);
                    $('#listSection').html(result);
                }
            });
        }

        function downloadJD(fileName) {
            var url = '/files/JDs/' + fileName;
            window.location.href = url;
        }

        //employee & candidate
        function addEmployee(buId, posId, isHead) {
            var url = '@Html.Raw(Url.Action("AddEmployee", "Recruitment", new { buId = "_buId", posId = "_posId", isHead = "_isHead" }))';
            window.location.href = url.replace("_buId", buId).replace("_posId", posId).replace("_isHead", isHead);
        }
        function addCandidate(buId, posId, isHead) {
            var url = '@Html.Raw(Url.Action("AddCandidate", "Recruitment", new { buId = "_buId", posId = "_posId", isHead = "_isHead" }))';
            window.location.href = url.replace("_buId", buId).replace("_posId", posId).replace("_isHead", isHead);
        }
        function editCandidate(id) {
            var url = '@Url.Action("EditCandidate", "Recruitment", new { id = "_id" })';
            window.location.href = url.replace("_id", id);
        }
        function removeCandidate(id) {
            if (!confirm("Please Confirm! About to Permenantly Remove Candidate?")) {
                return;
            }
            $.ajax({
                url: '@Url.Action("RemoveCandidate", "Recruitment")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function hireCandidate(id) {
            if (!confirm("Please Confirm! About to Approve Candidate and Proceed for Hiring?")) {
                return;
            }
            $.ajax({
                url: '@Url.Action("ApproveCandidate", "Recruitment")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
    </script>
}