@using HrmsModel.Models;
@model IEnumerable<ShiftRotation>

@Html.Hidden("rotationsCountHF", Model.Count())
<div class="container-fluid" style="padding:0px">
    <div class="panel panel-default" style="font-size:smaller">
        <div class="panel-heading"><label>@ViewBag.groupName</label></div>
        <div class="panel-body">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Seq</th>
                        <th>Interval</th>
                        <th>Days in Rotation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.SortOrder</td>
                            <td>@item.Shift.Name @string.Format("{0}", item.Shift.FromTime.HasValue ? "(" + item.Shift.FromTime.Value.ToShortTimeString() + " - " + item.Shift.ThruTime.Value.ToShortTimeString() + ")" : null)</td>
                            <td>@item.NbrDays</td>
                            <td>
                                <a role="button" href="#" class="btn btn-xs pull-right" onclick="removeRotation(@item.Id)" style="color:red" title="Remove"><span class="fa fa-remove"></span></a>
                                <a role="button" href="#" class="btn btn-xs pull-right" onclick="editRotation(@item.Id)" data-toggle="modal" data-target="#myModal" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>