@using HrmsModel.Models;
@model Employment

<form role="form" id="popupForm" asp-controller="Personnel" asp-action="AddEmployment" data-ajax="true" data-ajax-method="POST" data-ajax-update="#subListSection" data-ajax-success="onTrnSuccess" data-ajax-failure="onFailure">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="EmployeeId" class="form-control" value="@ViewBag.employeeId" />
    <input type="hidden" name="oldEmploymentId" class="form-control" id="employmentId" />
    <div class="form-group-sm">
        <label asp-for="FromDate" class="control-label"><small>Effective From Date (*)</small></label>
        <input type="date" asp-for="FromDate" class="form-control" required />
    </div>
    <div class="form-group-sm">
        <label asp-for="OrgUnitId" class="control-label"><small>New Business Unit (with Vacancy)</small></label>
        <select asp-for="OrgUnitId" class="form-control">
            <option value="">Select from List ...</option>
            @foreach (SelectListItem x in new SelectList(ViewBag.orgUnitsList, "Id", "Name"))
            {
                <option value="@x.Value">@x.Text</option>
            }
        </select>
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="PositionId"><small>Job Position (Vacant)</small></label>
        <select class="form-control" asp-for="PositionId">
            <option value="">Select from List ...</option>
            @foreach (SelectListItem item in new SelectList(ViewBag.positionsList, "Id", "Name"))
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="JobName"><small>Job Name (for Unpositioned)</small></label>
        <input type="text" asp-for="JobName" class="form-control" />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="OthJobName"><small>Job Name Translated</small></label>
        <input type="text" asp-for="OthJobName" class="form-control" />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="EmploymentTypeId"><small>Employment Type</small></label>
        <select class="form-control" asp-for="EmploymentTypeId">
            <option value="">Select from List ...</option>
            @foreach (SelectListItem item in new SelectList(ViewBag.employmentTypesList, "Id", "Name"))
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="input-group-sm">
        <label class="control-label" asp-for="IsHead">
            <input type="checkbox" asp-for="IsHead" />
            <span><small>Is Unit Head?</small></span>
        </label>
    </div>
    <div class="input-group-sm">
        <label class="control-label" asp-for="IsActing">
            <input type="checkbox" asp-for="IsActing" />
            <span><small>Is Acting?</small></span>
        </label>
    </div>
    <hr />
    <div class="form-group-sm">
        <label class="control-label" asp-for="SalaryScaleTypeId"><small>Salary Scale Type</small></label>
        <select class="form-control" asp-for="SalaryScaleTypeId">
            <option value="">Select from List ...</option>
            @foreach (SelectListItem item in new SelectList(ViewBag.salaryScaleTypesList, "Id", "Name"))
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="form-group-sm">
        <label asp-for="JobGradeId" class="control-label"><small>Job Grade</small></label>
        <select asp-for="JobGradeId" class="form-control">
            <option value="">Select from List ...</option>
            @foreach (SelectListItem x in new SelectList(ViewBag.jobGradesList, "Id", "Code"))
            {
                <option value="@x.Value">@x.Text</option>
            }
        </select>
    </div>
    <div class="form-group-sm">
        <label asp-for="SalaryStepId" class="control-label"><small>Salary Step</small></label>
        <select asp-for="SalaryStepId" class="form-control">
            <option value="">Select from List ...</option>
            @foreach (SelectListItem x in new SelectList(ViewBag.salaryStepsList, "Id", "Code"))
            {
                <option value="@x.Value">@x.Text</option>
            }
        </select>
    </div>
    <div class="form-group-sm">
        <label asp-for="BasicSalary" class="control-label"><small>Basic Salary</small></label>
        <input type="number" asp-for="BasicSalary" class="form-control" />
    </div>
    <hr />
    <div class="input-group-sm">
        <label class="control-label" asp-for="IsAttendRequired">
            <input type="checkbox" asp-for="IsAttendRequired" />
            <span><small>Is Attendance Required?</small></span>
        </label>
    </div>
    <div class="input-group-sm">
        <label class="control-label" asp-for="IsOverTimeAllowed">
            <input type="checkbox" asp-for="IsOverTimeAllowed" />
            <span><small>Is Overtime Allowed?</small></span>
        </label>
    </div>
    <hr />
    <div class="form-group-sm">
        <label class="control-label" asp-for="Details"><small>Job Details</small></label>
        <input type="text" asp-for="Details" class="form-control fullwidth" />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="Remarks"><small>Remarks</small></label>
        <input type="text" asp-for="Remarks" class="form-control fullwidth" />
    </div>
</form>