@using HrmsModel.Models;
@model IEnumerable<Employment>

<div class="container-fluid" style="padding:0px">
    @*genuin position*@
    <label><small>Main Occupation &mdash; Genuin</small></label>
    @{
        var gen = Model.FirstOrDefault(b => !b.IsActing);
        string job = gen.IsHead ? gen.OrgUnit.HeadPositionName : gen.Position.Name;
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-10">
                    <label id="posName_gen"><small>@job</small></label>
                    <span class="pull-right"><small><label>Date in Position: </label><span id="dateInPosition_gen">@gen.FromDate.ToString("dd-MM-yyyy")</span></small></span>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="btn btn-xs pull-right" onclick="addEmployment(@gen.Id)" data-toggle="modal" data-target="#myModal" title="Change Position Assignment"><span class="glyphicon glyphicon-log-out"></span></a>
                    <a href="#" class="btn btn-xs pull-right" onclick="addPromotion(@gen.Id)" data-toggle="modal" data-target="#myModal" title="Add Promotion"><span class="fa fa-line-chart"></span></a>
                    <a href="#" class="btn btn-xs pull-right" onclick="editEmployment(@gen.Id)" data-toggle="modal" data-target="#myModal" title="Edit Position"><span class="fa fa-pencil"></span></a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4"><small><label>Assigned:</label>&nbsp;<span id="job_gen">@job</span></small></div>
                <div class="col-sm-8"><small><label>Business Unit:</label>&nbsp;<span id="ouName_gen">@gen.OrgUnit.Name</span></small></div>
            </div>
            <div class="row">
                <div class="col-sm-4"><small><label>Employment:</label>&nbsp;<span id="empType_gen">@gen.EmploymentType.Name</span></small></div>
                <div class="col-sm-4"><small><label>Attendance:</label>&nbsp;<span id="attendance_gen">@string.Format("{0}", gen.IsAttendRequired ? "Required" : "Not Required")</span></small></div>
                <div class="col-sm-4"><small><label>Overtime:</label>&nbsp;<span id="overtime_gen">@string.Format("{0}", gen.IsOverTimeAllowed ? "Allowed" : "Not Allowed")</span></small></div>
            </div>
            <div class="row">
                <div class="col-sm-4"><small><label>Job Grade:</label>&nbsp;<span id="jobGrade_gen">@string.Format("{0}", gen.JobGradeId.HasValue ? gen.JobGrade.Code : "NA")</span></small></div>
                <div class="col-sm-4"><small><label>Salary Step:</label>&nbsp;<span id="salaryStep_gen">@string.Format("{0}", gen.SalaryStepId.HasValue ? gen.SalaryStep.Code : "NA")</span></small></div>
                <div class="col-sm-4"><small><label>Salary Scale:</label>&nbsp;<span id="salaryScale_gen">@string.Format("{0}", gen.IsPayrollExcluded ? "Payroll Excluded" : (gen.SalaryScaleTypeId.HasValue ? gen.SalaryScaleType.Name : "NA"))</span></small></div>
            </div>
        </div>
    </div>

    @*acting positions*@
    <label><small>Other Occupations &mdash; Acting</small></label>
    @if (Model.Where(b => b.IsActing).Count() == 0)
    {
        <p><label style="color:silver"><small>No Other Occupations</small></label></p>
    }
    @foreach (var item in Model.Where(b => b.IsActing))
    {
        job = gen.IsHead ? gen.OrgUnit.HeadPositionName : gen.Position.Name;
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10">
                        <label><small>@job</small></label>
                        <span class="pull-right"><small><label>Date in Position: </label>@item.FromDate.ToString("dd-MM-yyyy")</small></span>
                    </div>
                    <div class="col-sm-2">
                        <a href="#" class="btn btn-xs pull-right" onclick="addEmployment(@item.Id)" data-toggle="modal" data-target="#myModal" title="Change Position Assignment"><span class="glyphicon glyphicon-log-out"></span></a>
                        <a href="#" class="btn btn-xs pull-right" onclick="addPromotion(@item.Id)" data-toggle="modal" data-target="#myModal" title="Add Promotion"><span class="fa fa-line-chart"></span></a>
                        <a href="#" class="btn btn-xs pull-right" onclick="editEmployment(@item.Id)" data-toggle="modal" data-target="#myModal" title="Edit Position"><span class="fa fa-pencil"></span></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4"><small><label>Assigned:</label>&nbsp;@job</small></div>
                    <div class="col-sm-8"><small><label>Business Unit:</label>&nbsp;@item.OrgUnit.Name</small></div>    
                </div>
                <div class="row">
                    <div class="col-sm-4"><small><label>Employment:</label>&nbsp;@item.EmploymentType.Name</small></div>
                    <div class="col-sm-4"><small><label>Attendance:</label>&nbsp;@string.Format("{0}", item.IsAttendRequired ? "Required" : "Not Required")</small></div>
                    <div class="col-sm-4"><small><label>Overtime:</label>&nbsp;@string.Format("{0}", item.IsOverTimeAllowed ? "Allowed" : "Not Allowed")</small></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><small><label>Salary Scale:</label>&nbsp;@string.Format("{0}", item.SalaryScaleTypeId.HasValue ? item.SalaryScaleType.Name : "NA")</small></div>
                    <div class="col-sm-4"><small><label>Salary Step:</label>&nbsp;@string.Format("{0}", item.SalaryStepId.HasValue ? item.SalaryStep.Code : null)</small></div>
                    <div class="col-sm-4"><small><label>Salary:</label>&nbsp;@string.Format("{0}", item.IsHead ? (item.JobGradeId.HasValue ? "Grade Related" : item.BasicSalary.ToString()) : (item.PositionId.HasValue ? (item.Position.JobGradeId.HasValue ? "Grade Related" : item.BasicSalary.ToString()) : item.BasicSalary.ToString()))</small></div>
                </div>
            </div>
        </div>
    }
</div>