@using HrmsModel.Models;
@model IEnumerable<Employee>

<div class="container-fluid" style="padding:0px">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th><small>Employee No</small></th>
                <th><small>Name</small></th>
                <th><small>Name Translated</small></th>
                <th><small>Join Date</small></th>
                <th><small>Unit</small></th>
                <th><small>Position/Job</small></th>
                <th><small>Date In Position</small></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                var x = item.Employments.FirstOrDefault(b => b.IsActive && !b.IsActing);
                <tr>
                    <td><small>@item.EmpUid</small></td>
                    <td><small>@item.FirstName&nbsp;@item.FatherName&nbsp;@item.FamilyName</small></td>
                    <td><small>@item.OthFirstName&nbsp;@item.OthFatherName&nbsp;@item.OthFamilyName</small></td>
                    <td><small>@item.JoinDate.ToString("dd-MM-yyyy")</small></td>
                    <td><small>@x.OrgUnit.Name</small></td>
                    <td><small>@string.Format("{0}", x.IsHead ? x.OrgUnit.HeadPositionName : (x.PositionId.HasValue ? x.Position.Name : x.JobName))</small></td>
                    <td><small>@x.FromDate.ToString("dd-MM-yyyy")</small></td>
                    <td>
                        <a role="button" href="#" class="btn btn-xs" onclick="getEmployee(@item.Id)" title="More"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>