@using HrmsModel.Models;
@model IEnumerable<EmployeePromotion>

<div class="container-fluid" style="padding:0px">
    <label><small>Career</small></label>
    <hr />
    @foreach(var pos in Model.Select(b => b.EmployeePosition).Distinct())
    {
        <div style="text-align:center">
            <label><small>Unit:</small></label> &nbsp; <small>@pos.OrgUnit.Name</small> &mdash; <label><small>Position:</small></label> &nbsp; <small>@pos.OrgUnit.PositionName</small>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th><small>Effective</small></th>
                    <th><small>Job Grade</small></th>
                    <th><small>Salary Step</small></th>
                    <th><small>Salary Scale</small></th>
                    <th><small>Basic Salary</small></th>
                    <th><small>Salary Increase</small></th>
                    <th>
                        <a href="#" class="btn btn-xs" onclick="addPromotion(@pos.Id)" data-toggle="modal" data-target="#myModal" title="Add Promotion"><span class="glyphicon glyphicon-plus"></span></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(b => b.EmployeePosition.Id == pos.Id))
                {
                    <tr>
                        <td><small>@item.EffectiveFromDate.ToString("dd-MM-yyyy")</small></td>
                        <td><small>@string.Format("{0}", item.JobGrade != null ? item.JobGrade.Name : null)</small></td>
                        <td><small>@string.Format("{0}", item.SalaryStep != null ? item.SalaryStep.Name : null)</small></td>
                        <td><small>@string.Format("{0}", item.SalaryScaleTypeId.HasValue ? item.SalaryScaleType.Name : null)</small></td>
                        <td><small>@item.BasicSalary</small></td>
                        <td><small>@item.SalaryIncreaseValue @string.Format("{0}", item.IsIncreasePercentage ? "%" : null)</small></td>
                        <td>
                            <a href="#" class="btn btn-xs" onclick="approvePromotion(@item.Id)" title="Approve"><span class="fa fa-check"></span></a>
                            <a href="#" class="btn btn-xs" onclick="cancelPromotion(@item.Id)" title="Cancel"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    }
</div>