@using HrmsApp.Models;
@model EmployeeViewModel

@{
    ViewData["Title"] = "Personnel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />


<div class="container-fluid" style="padding:0px">
    <div id="employeeHeaderSection">
        @Html.Partial("_EmployeeHeader", Model)
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2" id="mainEmploymentSection">
            @Html.Partial("_MainEmployment", Model)
        </div>
        <div class="col-sm-8">
            <div id="personalDataSection">
                @Html.Partial("_PersonalData", Model)
            </div>
            <div id="contactsSection">
                @Html.Partial("_Contacts", Model)
            </div>
            <div id="listSection"></div>
            <div id="subListSection"></div>
        </div>

        <div class="col-sm-2">
            <div><small><a href="/Personnel/Index">Back To List ...</a></small></div>
            <br />
            <label><small>Folders</small></label>
            <ul class="list-unstyled">
                <li><small><a href="javascript:getPersonalInfo();">Personal Data</a></small></li>
                <li><small><a href="javascript:getContacts();">Contacts</a></small></li>
                <li><small><a href="javascript:getList('Career');">Career</a></small></li>
                <li><small><a href="javascript:getLeave();">Leave</a></small></li>
                <li><small><a href="javascript:getList('Qualifications');">Qualifications</a></small></li>
                <li><small><a href="javascript:getList('Languages');">Languages</a></small></li>
                <li><small><a href="javascript:getList('Family');">Family</a></small></li>
                <li><small><a href="javascript:getList('Documents');">Documents</a></small></li>
                <li><small><a href="javascript:groupsList();">Groups</a></small></li>
            </ul>
            <br />
            <label><small>Updates</small></label>
            <ul class="list-unstyled">
                <li><a href="#" onclick="editPersonalData()" data-toggle="modal" data-target="#myModal"><small>Edit Personal Data</small></a></li>
                <li><a href="#" onclick="editBrief()" data-toggle="modal" data-target="#myModal"><small>Edit Career Summary</small></a></li>
                <li><a href="#" onclick="editContacts()" data-toggle="modal" data-target="#myModal"><small>Edit Contacts</small></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="photoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="modalClose" data-dismiss="modal">&times;</button>
                <div class="modal-title">Photo Upload</div>
            </div>
            <div class="modal-body" id="popupFormBody">
                <label class="control-label">Select Photo</label>
                <input type="file" name="files" accept="image/*" class="file-loading" id="inputPhotos" />
            </div>
            <div class="modal-footer">
                <strong>
                    <button type="button" class="btn btn-default btn-xs pull-right" onclick="onFileInputClearClick('inputPhotos')" data-dismiss="modal">Cancel</button> &nbsp; &nbsp;
                    <span class="pull-right" id="popupResult1"></span>
                </strong>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("docIdHF")
@Html.Hidden("docTypeIdHF")

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_PopupForm"); }
    @{ await Html.RenderPartialAsync("_FileUploadPopup"); }
    <script src="~/lib/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script>
        $(document).on('ready', function () {
            var url = '@Url.Action("PhotoUpload", "Personnel", new { id = "xyz" })';
            $("#inputPhotos").fileinput({
                uploadAsync: false,
                showUpload: true,
                showRemove: true,
                multiple: false,
                previewFileType: "image",
                browseClass: "btn btn-success",
                browseLabel: "Browse",
                browseIcon: "<i class=\"glyphicon glyphicon-file\"></i> ",
                removeClass: "btn btn-danger",
                removeLabel: "Remove",
                removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
                uploadClass: "btn btn-info",
                uploadLabel: "Upload",
                uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> ",
                uploadUrl: url.replace('xyz', @Model.Employee.Id)
            });
            $('#inputPhotos').on('filebatchuploadsuccess', function (event, data, previewId, index) {
                $('#photoNameHF').val(data.filenames[0]);
                $('#photoCtrl').attr('src', "data:image/png;base64," + data.response);
                $('#popupResult1').html('Employee Photo Successfully Uploaded.');
            });

            url = '@Url.Action("FileUpload", "Personnel", new { id = "id1", docTypeId = "typeId1" })';
            $("#inputFiles").fileinput({
                uploadAsync: false,
                showUpload: true,
                showRemove: true,
                multiple: false,
                previewFileType: "file",
                browseClass: "btn btn-success",
                browseLabel: "Browse",
                browseIcon: "<i class=\"glyphicon glyphicon-file\"></i> ",
                removeClass: "btn btn-danger",
                removeLabel: "Remove",
                removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
                uploadClass: "btn btn-info",
                uploadLabel: "Upload",
                uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> ",
                uploadUrl: url.replace('id1', $('#docIdHF').val()).replace('typeId1', $('#docTypeIdHF').val())
            });
            $('#inputFiles').on('filebatchuploadsuccess', function (event, data, previewId, index) {
                $('#filePopupResult').html('File Successfully Uploaded.');
                $.ajax({
                    url: '@Url.Action("DocumentsList", "Positions")',
                    type: 'GET',
                    data: { id: @Model.Employee.Id },
                    success: function (result) {
                        $('#listSection').html(result);
                    }
                });
            });

            $('#contactsSection').hide();
        })

        function onFileInputClearClick(ed) {
            $('#' + ed).fileinput('clear');
        }
        function showPopup() {
            $('#popupResult').html(null).text(null);
            $('.popupBtns').removeAttr('disabled');
        }
        function onPopupSubmit() {
            $('#popupForm').submit();
        }
        function onSuccess() {
            $('#popupResult').html('Successfully Updated.');
            $('.popupBtns').attr('disabled', 'disabled');
        }
        function onTrnSuccess() {
            $('#popupResult').html('Successfully Updated.');
            $('.popupBtns').attr('disabled', 'disabled');
            showPromo();
        }
        function onFailure() {
            $('#formResult').html('Failed to Update! Please Correct All Errors.');
            $('.popupBtns').removeAttr('disabled');
        }
        function editPhoto() {
            $('#photoModal').show();
        }
        function showPromo() {
            $('#promo').removeClass('hidden');
            $('#showCtrl').attr('hidden', 'hidden');
            $('#hideCtrl').removeAttr('hidden');
        }
        function hidePromo() {
            $('#promo').addClass('hidden');
            $('#showCtrl').removeAttr('hidden');
            $('#hideCtrl').attr('hidden', 'hidden');
        }

        function getPersonalInfo() {
            $('#listSection').html(null);
            $('#subListSection').html(null);
            $('#contactsSection').hide();
            $('#personalDataSection').show();
        }
        function getContacts() {
            $('#listSection').html(null);
            $('#subListSection').html(null);
            $('#contactsSection').show();
            $('#personalDataSection').hide();
        }
        function getLeave() {
            $.ajax({
                url: '@Url.Action("LeaveBalancesList", "Personnel")',
                type: 'GET',
                data: { id: @Model.Employee.Id },
                success: function (result) {
                    $('#personalDataSection').hide();
                    $('#contactsSection').hide();
                    $('#listSection').html(result);
                }
            });
            $.ajax({
                url: '@Url.Action("LeavesList", "Personnel")',
                type: 'GET',
                data: { id: @Model.Employee.Id },
                success: function (result) {
                    $('#subListSection').html(result);
                }
            });
        }
        function addLeaveTransaction() {
            $.ajax({
                url: '@Url.Action("AddLeave", "Personnel")',
                type: 'GET',
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add New Leave Request');
                    $('#employeeId').val(@Model.Employee.Id);
                    showPopup();
                }
            });
        }
        function uploadDocument(id, typeId) {
            $('#docIdHF').val(id);
            $('#docTypeIdHF').val(typeId);
        }
        function downloadDocument(fileName) {
            var url = '/files/Personnel/' + fileName;
            window.location.href = url;
        }

        function getList(lst) {
            var url;
            switch (lst) {
                case 'Career':
                    url = '@Url.Action("EmploymentsList", "Personnel")';
                    break;
                case 'Qualifications':
                    url = '@Url.Action("QualificationsList", "Personnel")';
                    break;
                case 'Languages':
                    url = '@Url.Action("LanguagesList", "Personnel")';
                    break;
                case 'Family':
                    url = '@Url.Action("FamilyList", "Personnel")';
                    break;
                case 'Documents':
                    url = '@Url.Action("DocumentsList", "Personnel")';
                    break;
            }
            $.ajax({
                url: url,
                type: 'GET',
                data: { id: @Model.Employee.Id },
                success: function (result) {
                    $('#personalDataSection').hide();
                    $('#contactsSection').hide();
                    $('#listSection').html(result);
                    if (lst === 'Career') {
                        $.ajax({
                            url: '@Url.Action("PromotionsList", "Personnel")',
                            type: 'GET',
                            data: { id: @Model.Employee.Id },
                            success: function (result) {
                                $('#subListSection').html(result);
                            }
                        });
                    } else {
                        $('#subListSection').html(null);
                    }
                }
            });
        }
        function addToEmployee(lst) {
            var url;
            var popupTitle;
            switch (lst) {
                case 'Career':
                    url = '@Url.Action("AddPromotion", "Personnel")';
                    popupTitle = 'Add Career Transaction';
                    break;
                case 'Qualifications':
                    url = '@Url.Action("AddQualification", "Personnel")';
                    popupTitle = 'Add Qualification';
                    break;
                case 'Languages':
                    url = '@Url.Action("AddLanguage", "Personnel")';
                    popupTitle = 'Add Language';
                    break;
                case 'Family':
                    url = '@Url.Action("AddFamilyMember", "Personnel")';
                    popupTitle = 'Add Family Member';
                    break;
                case 'Documents':
                    url = '@Url.Action("AddDocument", "Personnel")';
                    popupTitle = 'Add Document';
                    break;
            }
            $.ajax({
                url: url,
                type: 'GET',
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html(popupTitle);
                    $('#employeeId').val(@Model.Employee.Id);
                    showPopup();
                }
            });
        }
        function addEmployment(id) {
            $.ajax({
                url: '@Url.Action("AddEmployment", "Personnel")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Change Position Assignment / Transfer');
                    $('#employmentId').val();
                    showPopup();
                }
            });
        }
        function addPromotion(id) {
            $.ajax({
                url: '@Url.Action("AddPromotion", "Personnel")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add New Promotion');
                    $('#employmentId').val(id);
                    showPopup();
                }
            });
        }
        function approvePromotion(id) {
            if (!confirm('Please Confirm! About to Approve Transaction?')) {
                return;
            }
            $.ajax({
                url: '@Url.Action("ApprovePromotion", "Personnel")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#subListSection').html(result);
                    showPromo();
                }
            });
        }
        function cancelPromotion(id) {
            if (!confirm('Please Confirm! About to Cancel Transaction. It will be Permenantly Removed from List?')) {
                return;
            }
            $.ajax({
                url: '@Url.Action("CancelPromotion", "Personnel")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#subListSection').html(result);
                    showPromo();
                }
            });
        }

        function groupsList() {
            $.ajax({
                url: '@Url.Action("GroupsList", "Personnel")',
                type: 'GET',
                data: { id: @Model.Employee.Id },
                success: function (result) {
                    $('#personalDataSection').hide();
                    $('#contactsSection').hide();
                    $('#subListSection').html(null);
                    $('#listSection').html(result);
                }
            });
        }

        //updates
        function editPersonalData() {
            $.ajax({
                url: '@Url.Action("EditPersonalData", "Personnel")',
                type: 'GET',
                data: { id: @Model.Employee.Id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Edit Personal Data');
                    showPopup();
                }
            });
        }
        function editContacts() {
            $.ajax({
                url: '@Url.Action("EditContacts", "Personnel")',
                type: 'GET',
                data: { id: @Model.Employee.Id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Edit Contacts');
                    showPopup();
                }
            });
        }
        function editBrief() {
            $.ajax({
                url: '@Url.Action("EditBrief", "Personnel")',
                type: 'GET',
                data: { id: @Model.Employee.Id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Edit Career Summary');
                    showPopup();
                }
            });
        }
        function editEmployment(id) {
            $.ajax({
                url: '@Url.Action("EditEmployment", "Personnel")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Edit Employment');
                    showPopup();
                }
            });
        }
    </script>    
}
