@using HrmsApp.Models;
@model EmployeeViewModel

@{
    ViewData["Title"] = "Personnel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />

@{ 
    string photo;
    if (Model.Employee.Photo != null) { photo = "data:image/png;base64," + Convert.ToBase64String(Model.Employee.Photo); }
    else { photo = string.Format("{0}/unknown.png", "/images"); }
}
<div class="container-fluid" style="padding:0px">
    <div class="row">
        <div class="col-sm-1">
            <a href="#" onclick="editPhoto()" data-toggle="modal" data-target="#photoModal"><img class="img" width="80" height="100" src="@photo" /></a>
        </div>
        <div class="col-sm-10">
            <h1>@Model.EmployeeName</h1>
            <h5 style="color:silver;font-weight:bold">
                @Model.PositionName : @Model.OrgUnitName
            </h5>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            @{
                <div><small><label>Employee Uid: </label>&nbsp;@Model.Employee.EmpUid</small></div>
                <div><small><label>Join Date: </label>&nbsp;@Model.Employee.JoinDate.ToString("dd-MM-yyyy")</small></div>
                <div><small><label>Date In Position: </label>&nbsp;@Model.DateInPosition.ToString("dd-MM-yyyy")</small></div>
                <br />
                <div><small><label>Job Grade: </label>&nbsp;@string.Format("{0}", Model.JobGradeId.HasValue ? Model.JobGradeCode : "NA")</small></div>
                <div><small><label>Salary Step: </label>&nbsp;@string.Format("{0}", Model.SalaryStepId.HasValue ? Model.SalaryStepCode : "NA")</small></div>
                <div><small><label>Salary Scale: </label>&nbsp;@string.Format("{0}", Model.SalaryScaleTypeId.HasValue ? Model.SalaryScaleTypeName : "NA")</small></div>
                <br />
                <div><small><label>Attendance: </label>&nbsp;@string.Format("{0}", Model.IsAttendRequired ? "Required" : "Not Required")</small></div>
                <div><small><label>OverTime: </label>&nbsp;@string.Format("{0}", Model.IsOverTimeAllowed ? "Allowed" : "Not Allowed")</small></div>
                <div><small><label>Employment Type: </label>&nbsp;@Model.EmploymentTypeName</small></div>
            }
        </div>

        <div class="col-sm-8">
            <div id="personalInfoSection" style="padding:0px">
                <label><small>Personal Information</small></label>
                <hr />
                <div class="row">
                    <div class="col-sm-7">
                        <table class="table table-condensed" style="border:solid thin;border-color:silver">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><small>First</small></th>
                                    <th><small>Family</small></th>
                                    <th><small>Father</small></th>
                                    <th><small>Mother</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><label><small>Name</small></label></td>
                                    <td><small>@Model.Employee.FirstName</small></td>
                                    <td><small>@Model.Employee.FamilyName</small></td>
                                    <td><small>@Model.Employee.FatherName</small></td>
                                    <td><small>@Model.Employee.MotherName</small></td>
                                </tr>
                                <tr>
                                    <td><label><small>Translated</small></label></td>
                                    <td><small>@Model.Employee.OthFirstName</small></td>
                                    <td><small>@Model.Employee.OthFamilyName</small></td>
                                    <td><small>@Model.Employee.OthFatherName</small></td>
                                    <td><small>@Model.Employee.OthMotherName</small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3"><small><label>Gender: </label>&nbsp;@string.Format("{0}", Model.Employee.IsMale ? "Male" : "Femele")</small></div>
                    <div class="col-sm-3"><small><label>Birth Date: </label>&nbsp;@Model.Employee.BirthDate.ToString("dd-MM-yyyy")</small></div>
                    <div class="col-sm-4"><small><label>Nationality: </label>&nbsp;@Model.Employee.Nationality.Name</small></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><small><label>Marital Status: </label>&nbsp;@Model.Employee.MaritalStatus</small></div>
                    <div class="col-sm-3"><small><label>Blood Group: </label>&nbsp;@Model.Employee.BloodGroup</small></div>
                    <div class="col-sm-4"><small><label>Military Service: </label>&nbsp;@string.Format("{0}", Model.Employee.IsMilitaryExempted ? "Exempted" : "None")</small></div>
                </div>
            </div>

            <div id="contactsSection">
                <label><small>Contacts</small></label>
                <hr />
                <div><small><span class="fa fa-mobile"></span>&nbsp;@Model.Employee.Phone</small></div>
                <div><small><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;@Model.Employee.HomePhone1</small></div>
                <div><small><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;@Model.Employee.HomePhone2</small></div>
                <div><small><span class="glyphicon glyphicon-envelope"></span>&nbsp;@Model.Employee.Email</small></div>
                <br />
                <label><small>Addresses</small></label>
                <hr />
                <div><small><label>Governorate:</label>&nbsp;@Model.Employee.Governorate.Name</small></div>
                <div><small><label>Address:</label>&nbsp;@Model.Employee.Address</small></div>
                <div><small><label>Permenant Address:</label>&nbsp;@Model.Employee.PermenantAddress</small></div>
            </div>

            <div id="listSection"></div>
            <div id="subListSection"></div>
        </div>

        <div class="col-sm-2">
            <div><small><a href="/Personnel/Index">Back To List ...</a></small></div>
            <br />
            <ul class="list-unstyled">
                <li><small><a href="javascript:getPersonalInfo();">Personal Information</a></small></li>
                <li><small><a href="javascript:getContacts();">Contacts</a></small></li>
                <li><small><a href="javascript:getList('Career');">Career</a></small></li>
                <li><small><a href="javascript:getLeave();">Leave</a></small></li>
                <li><small><a href="javascript:getList('Qualifications');">Qualifications</a></small></li>
                <li><small><a href="javascript:getList('Languages');">Languages</a></small></li>
                <li><small><a href="javascript:getList('Family');">Family</a></small></li>
                <li><small><a href="javascript:getList('Documents');">Documents</a></small></li>
                <li><small><a href="javascript:groupsList();">Groups</a></small></li>
            </ul>
            <br />
            <div><a href="#"><small>Change Position / Transfer ...</small></a></div>
        </div>
    </div>
</div>

<div class="modal fade" id="photoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="modalClose" data-dismiss="modal">&times;</button>
                <div class="modal-title">Photo Upload</div>
            </div>
            <div class="modal-body" id="popupFormBody">
                <label class="control-label">Select Photo</label>
                <input type="file" name="files" accept="image/*" class="file-loading" id="inputPhotos" />
            </div>
            <div class="modal-footer">
                <strong>
                    <button type="button" class="btn btn-default btn-xs pull-right" onclick="onFileInputClearClick('inputPhotos')" data-dismiss="modal">Cancel</button> &nbsp; &nbsp;
                    <span class="pull-right" id="popupResult"></span>
                </strong>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_PopupForm"); }
    <script src="~/lib/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script>
        $(document).on('ready', function () {
            var url = '@Url.Action("PhotoUpload", "Personnel", new { id = "xyz" })';
            $("#inputPhotos").fileinput({
                uploadAsync: false,
                showUpload: true,
                showRemove: true,
                multiple: false,
                previewFileType: "image",
                browseClass: "btn btn-success",
                browseLabel: "Browse",
                browseIcon: "<i class=\"glyphicon glyphicon-file\"></i> ",
                removeClass: "btn btn-danger",
                removeLabel: "Remove",
                removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
                uploadClass: "btn btn-info",
                uploadLabel: "Upload",
                uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> ",
                uploadUrl: url.replace('xyz', @Model.Employee.Id)
            });
            $('#inputPhotos').on('filebatchuploadsuccess', function (event, data, previewId, index) {
                $('#photoNameHF').val(data.filenames[0]);
                $('#photoCtrl').attr('src', "data:image/png;base64," + data.response);
                $('#popupResult').html('Employee Photo Successfully Uploaded.');
            });

            $('#contactsSection').hide();
        })

        function onFileInputClearClick(ed) {
            $('#' + ed).fileinput('clear');
        }
        function showPopup() {
            $('#popupResult').html(null).text(null);
            $('.popupBtns').removeAttr('disabled');
        }
        function onPopupSubmit() {
            $('#popupForm').submit();
        }
        function onSuccess() {
            $('#popupResult').html('Successfully Updated.');
            $('.popupBtns').attr('disabled', 'disabled');
        }
        function onFailure() {
            $('#formResult').html('Failed to Update! Please Correct All Errors.');
            $('.popupBtns').removeAttr('disabled');
        }
        function editPhoto() {
            $('#photoModal').show();
        }

        function getPersonalInfo() {
            $('#listSection').html(null);
            $('#subListSection').html(null);
            $('#contactsSection').hide();
            $('#personalInfoSection').show();
        }
        function getContacts() {
            $('#listSection').html(null);
            $('#subListSection').html(null);
            $('#contactsSection').show();
            $('#personalInfoSection').hide();
        }
        function getLeave() {
            $.ajax({
                url: '@Url.Action("LeaveBalancesList", "Personnel")',
                type: 'GET',
                data: { id: @Model.Employee.Id },
                success: function (result) {
                    $('#personalInfoSection').hide();
                    $('#contactsSection').hide();
                    $('#listSection').html(result);
                }
            });
            $.ajax({
                url: '@Url.Action("LeavesList", "Personnel")',
                type: 'GET',
                data: { id: @Model.Employee.Id },
                success: function (result) {
                    $('#subListSection').html(result);
                }
            });
        }
        function addLeaveTransaction() {
            $.ajax({
                url: '@Url.Action("AddLeave", "Personnel")',
                type: 'GET',
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add New Leave Request');
                    $('#employeeId').val(@Model.Employee.Id);
                    showPopup();
                }
            });
        }

        function getList(lst) {
            var url;
            switch (lst) {
                case 'Career':
                    url = '@Url.Action("PromotionsList", "Personnel")';
                    break;
                case 'Qualifications':
                    url = '@Url.Action("QualificationsList", "Personnel")';
                    break;
                case 'Languages':
                    url = '@Url.Action("LanguagesList", "Personnel")';
                    break;
                case 'Family':
                    url = '@Url.Action("FamilyList", "Personnel")';
                    break;
                case 'Documents':
                    url = '@Url.Action("DocumentsList", "Personnel")';
                    break;
            }
            $.ajax({
                url: url,
                type: 'GET',
                data: { id: @Model.Employee.Id },
                success: function (result) {
                    $('#personalInfoSection').hide();
                    $('#contactsSection').hide();
                    $('#subListSection').html(null);
                    $('#listSection').html(result);
                }
            });
        }
        function addToEmployee(lst) {
            var url;
            var popupTitle;
            switch (lst) {
                case 'Career':
                    url = '@Url.Action("AddPromotion", "Personnel")';
                    popupTitle = 'Add Career Transaction';
                    break;
                case 'Qualifications':
                    url = '@Url.Action("AddQualification", "Personnel")';
                    popupTitle = 'Add Qualification';
                    break;
                case 'Languages':
                    url = '@Url.Action("AddLanguage", "Personnel")';
                    popupTitle = 'Add Language';
                    break;
                case 'Family':
                    url = '@Url.Action("AddFamilyMember", "Personnel")';
                    popupTitle = 'Add Family Member';
                    break;
                case 'Documents':
                    url = '@Url.Action("AddDocument", "Personnel")';
                    popupTitle = 'Add Document';
                    break;
            }
            $.ajax({
                url: url,
                type: 'GET',
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html(popupTitle);
                    $('#employeeId').val(@Model.Employee.Id);
                    showPopup();
                }
            });
        }

        function addPromotion(id) {
            $.ajax({
                url: '@Url.Action("AddPromotion", "Personnel")',
                type: 'GET',
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add New Promotion');
                    $('#employeePositionId').val(id);
                    showPopup();
                }
            });
        }

        function groupsList() {
            $.ajax({
                url: '@Url.Action("GroupsList", "Personnel")',
                type: 'GET',
                data: { id: @Model.Employee.Id },
                success: function (result) {
                    $('#personalInfoSection').hide();
                    $('#contactsSection').hide();
                    $('#subListSection').html(null);
                    $('#listSection').html(result);
                }
            });
        }
    </script>    
}
