@{
    ViewData["Title"] = "Personnel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="padding:0px">
    <br />
    <div class="row">
        <div class="col-sm-6"><h3>Personnel Index</h3></div>
        <div class="col-sm-6">
            <br />
            <span class="fa fa-filter pull-right"></span>&nbsp;
            <small><label class="pull-right" id="listName" style="color:silver;">Heads of Units</label></small>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10" id="listSection">
            @await Component.InvokeAsync("EmployeesList", new { isHead = true })
        </div>
        <div class="col-sm-2">
            <ul class="list-unstyled">
                <li><small><a href="#" onclick="filterByType()">Heads of Units</a>&nbsp;<span class="badge alert-info">@ViewBag.headsCnt</span></small></li>
                <li><small><a href="#" onclick="filterByType('Assigned')">Assigned</a>&nbsp;<span class="badge alert-info">@ViewBag.assignedCnt</span></small></li>
                <li><small><a href="#" onclick="filterByType('Unassigned')">Un Assigned</a>&nbsp;<span class="badge alert-info">@ViewBag.unassignedCnt</span></small></li>
                <li><small><a href="#" onclick="filterByType('Acting')">Acting</a>&nbsp;<span class="badge alert-info">@ViewBag.actingCnt</span></small></li>
                <li><small><a href="#" onclick="filterByType('Probation')">In Probation</a>&nbsp;<span class="badge alert-info">@ViewBag.probationCnt</span></small></li>
                <li><small><a href="#" onclick="filterByType('Archive')">Archive</a>&nbsp;<span class="badge alert-info">@ViewBag.archiveCnt</span></small></li>
                <li><small><a href="#" onclick="filterByType('Birthday')">Birthday List</a>&nbsp;<span class="badge alert-info">@ViewBag.birthdayCnt</span></small></li>
            </ul>
            <hr />
            <label><small>Find ...</small></label>
            <div class="input-group input-group-sm">
                <input id="empUid" class="form-control myfilter" placeholder="By Employee No" />
                <span class="input-group-btn" onclick="findByUid()"><button class="btn btn-default"><span class="fa fa-search" style="color:royalblue"></span></button></span>
            </div>
            <div class="input-group input-group-sm">
                <input id="empName" class="form-control myfilter" placeholder="By Employee Name" />
                <span class="input-group-btn" onclick="findByName()"><button class="btn btn-default"><span class="fa fa-search" style="color:royalblue"></span></button></span>
            </div>
            <br />
            <label><small>Filter ...</small></label>
            <div class="form-group-sm">
                <select class="form-control myfilter" id="filter1" onchange="filterById('filter1')">
                    <option value="" selected>By Level</option>
                    @foreach (SelectListItem item in new SelectList(ViewBag.orgUnitTypesList, "Id", "Name"))
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group-sm">
                <select class="form-control myfilter" id="filter2" onchange="filterById('filter2')">
                    <option value="" selected>By Unit</option>
                    @foreach (SelectListItem item in new SelectList(ViewBag.orgUnitsList, "Id", "Name"))
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group-sm">
                <select class="form-control myfilter" id="filter3" onchange="filterById('filter3')">
                    <option value="" selected>By Nationality</option>
                    @foreach (SelectListItem item in new SelectList(ViewBag.nationalitiesList, "Id", "Name"))
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group-sm">
                <select class="form-control myfilter" id="filter4" onchange="filterById('filter4')">
                    <option value="" selected>By Region</option>
                    @foreach (SelectListItem item in new SelectList(ViewBag.governoratesList, "Id", "Name"))
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group-sm">
                <select class="form-control myfilter" id="filter5" onchange="filterById('filter5')">
                    <option value="" selected>By Title</option>
                    @foreach (SelectListItem item in new SelectList(ViewBag.standardTitlesList, "Id", "Name"))
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group-sm">
                <select class="form-control myfilter" id="filter6" onchange="filterById('filter6')">
                    <option value="" selected>By Grade Group</option>
                    @foreach (SelectListItem item in new SelectList(ViewBag.gradeGroupsList, "Id", "Name"))
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group-sm">
                <select class="form-control myfilter" id="filter7" onchange="filterById('filter7')">
                    <option value="" selected>By Job Grade</option>
                    @foreach (SelectListItem item in new SelectList(ViewBag.jobGradesList, "Id", "Name"))
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <br />
            <div>
                <div><small><a href="#" onclick="filterByType()">Clear Filter</a></small></div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("OrgUnitIdHF")

@section Scripts
{
    @{ await Html.RenderPartialAsync("_PopupForm"); }
    <script>
        $(document).on('ready', function () {
            
        });

        function showPopup() {
            $('#popupResult').html(null).text(null);
            $('.popupBtns').removeAttr('disabled');
        }
        function onPopupSubmit() {
            $('#popupForm').submit();
        }
        function onSuccess() {
            $('#popupResult').html('Successfully Updated.');
            $('.popupBtns').attr('disabled', 'disabled');
        }
        function onFailure() {
            $('#formResult').html('Failed to Update! Please Correct All Errors.');
            $('.popupBtns').removeAttr('disabled');
        }

        //filters
        function findByUid() {
            if ($('#empUid').val()) {
                $('#listName').html("Find Employee By No");
                $('#empName').val(null);
                findEmployee();
            }
        }
        function findByName() {
            if ($('#empName').val()) {
                $('#listName').html("Find Employee By Name");
                $('#empUid').val(null);
                findEmployee();
            }
        }
        function filterById(filterType) {
            var fType;
            switch (filterType) {
                case "filter1":
                    fType = "ouType";
                    break;
                case "filter2":
                    fType = "ou";
                    break;
                case "filter3":
                    fType = "nationality";
                    break;
                case "filter4":
                    fType = "region";
                    break;
                case "filter5":
                    fType = "title";
                    break;
                case "filter6":
                    fType = "gradeGroup";
                    break;
                case "filter7":
                    fType = "grade";
                    break;
            }
            $('#listName').html($('#' + filterType).find('option:selected').text() + " Employees List");
            employeesList(fType, $('#' + filterType).val());
        }
        function filterByType(filterType) {
            if (filterType) {
                $('#listName').html(filterType + " Employees List");
            } else {
                $('#listName').html("Heads of Units");
                $('.myfilter').val(null);
            }
            employeesList(filterType);
        }

        //employee
        function employeesList(filterType, id) {
            $.ajax({
                url: '@Url.Action("EmployeesList", "Personnel")',
                type: 'GET',
                data: { filterType: filterType, id: id },
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function findEmployee() {
            $.ajax({
                url: '@Url.Action("FindEmployee", "Personnel")',
                type: 'GET',
                data: { employeeUid: $('#empUid').val(), employeeName: $('#empName').val() },
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function getEmployee(id) {
            var url = '@Url.Action("EmployeeIndex", "Personnel", new { id = "xyz" })';
            window.location.href = url.replace("xyz", id);
        }

    </script>
}