@using HrmsApp.Models;
@model IEnumerable<EmployeeViewModel>

<div class="container-fluid" style="padding:0px">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th><small>Employee No</small></th>
                <th><small>Name</small></th>
                <th><small>Name Translated</small></th>
                <th><small>Join Date</small></th>
                <th><small>Unit</small></th>
                <th><small>Position/Job</small></th>
                <th><small>Date In Position</small></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td><small>@item.Employee.EmpUid</small></td>
                    <td><small>@item.EmployeeName</small></td>
                    <td><small>@item.OthEmployeeName</small></td>
                    <td><small>@item.Employee.JoinDate.ToString("dd-MM-yyyy")</small></td>
                    <td><small>@item.OrgUnitName</small></td>
                    <td><small>@item.PositionName</small></td>
                    <td><small>@item.DateInPosition.ToString("dd-MM-yyyy")</small></td>
                    <td>
                        <a role="button" href="#" class="btn btn-xs" onclick="getEmployee(@item.Employee.Id)" title="More"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>