@using HrmsModel.Models;
@model OrgUnit

<div class="container-fluid" style="padding:0px;background-color:white">
    <label>@Model.Name</label>
    <hr />
    <dl class="dl-horizontal pull-left">
        <dt><small>Job Code</small></dt>
        <dd><small>@Model.JobCode</small></dd>

        <dt><small>Capacity</small></dt>
        <dd><small>@Model.Capacity</small></dd>

        <dt><small>Current Staff</small></dt>
        <dd><small>@Model.TotalStaff</small></dd>

        <dt><small>Vacancy</small></dt>
        <dd><small>@Model.TotalVacant</small></dd>
    </dl>
    <div class="input-group">
        <label class="control-label"><small>Job Description</small></label>
        <span class="input-group-btn">
            <button class="btn btn-xs btn-primary" type="button">Download</button>
        </span>
        <span class="input-group-btn">
            <button class="btn btn-xs btn-default" type="button" data-toggle="modal" data-target="#filePopupForm">Upload</button>
        </span>
    </div>
    <hr />
    <div>
        <a href="#" onclick="addEmployee(@Model.Id)"><small>Add Employee ...</small></a> &nbsp;&nbsp;
        <a href="#" onclick="addCandidate(@Model.Id)"><small>Add Candidate ...</small></a>
    </div>
</div>