@using HrmsModel.Models;
@model IEnumerable<CarouselItem>

<div class="container-fluid" style="padding:0px">
    <div style="color:silver">Carousel Items</div>
    <hr />
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th><span class="fa fa-sort-numeric-asc"></span></th>
                <th><small>Image Name</small></th>
                <th><small>Caption</small></th>
                <th><small>Text</small></th>
                <th><small>Is Active</small></th>
                <th>
                    <a role="button" href="#" class="btn btn-xs pull-right" onclick="addCarouselItem()" title="Add"><span class="fa fa-plus"></span></a>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><small>@item.SortOrder</small></td>
                    <td><small>@item.ImageName</small></td>
                    <td><small>@item.Caption</small></td>
                    <td><small>@item.ImageText</small></td>
                    <td><input type="checkbox" asp-for="@item.IsActive" disabled readonly /></td>
                    <td>
                        <div class="btn-group-xs pull-right">
                            <a role="button" href="#" class="btn btn-xs" onclick="editCarouselItem(@item.Id)" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div id="carouselItemSection"></div>
</div>