@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />

<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-sm-3">
            <label><small>Dictionary</small></label>
            <ul class="list-unstyled">
                <li><a href="javascript:getDictionary('OrgUnitType');"><small>Organization Unit Types</small></a></li>
                <li><a href="javascript:getDictionary('EmploymentType');"><small>Employment Types</small></a></li>
                <li><a href="javascript:getDictionary('StandardTitleType');"><small>Standard Titles</small></a></li>
                <li><a href="javascript:getDictionary('LeaveType');"><small>Leave Types</small></a></li>
                <li><a href="javascript:getDictionary('AllowanceType');"><small>Allowance Types</small></a></li>
                <li><a href="javascript:getDictionary('CompetencyAreaType');"><small>Competency Areas</small></a></li>
                <li><a href="javascript:getDictionary('SalaryScaleType');"><small>Salary Scale Types</small></a></li>
                <li><a href="javascript:getDictionary('DocumentType');"><small>Employee Document Types</small></a></li>
                <li><a href="javascript:getDictionary('FamilyMemberType');"><small>Employee Family Member Types</small></a></li>
                <li><a href="javascript:getDictionary('QualificationType');"><small>Employee Qualification Types</small></a></li>
                <li><a href="javascript:getDictionary('LanguageType');"><small>Employee Language Types</small></a></li>
                <li><a href="javascript:getDictionary('PromotionType');"><small>Employee Promotion Types</small></a></li>
                <li><a href="javascript:getDictionary('PayrollComponentType');"><small>Payroll Component Types</small></a></li>
                <li><a href="javascript:getDictionary('AttendanceActionType');"><small>Attendance Corrective Action Types</small></a></li>
                <li><a href="javascript:getDictionary('Nationality');"><small>Employee Nationalities List</small></a></li>
                <li><a href="javascript:getDictionary('Governorate');"><small>Governorates List</small></a></li>
                <li><a href="javascript:getDictionary('Bank');"><small>Banks List</small></a></li>
            </ul>
            <hr />
            <label><small>Site Contents</small></label>
            <ul class="list-unstyled">
                <li><a href="javascript:carouselItemsList();"><small>Carousel Items</small></a></li>
                <li><a href="javascript:siteContentsList();"><small>Documents &amp; Media</small></a></li>
            </ul>
        </div>
        <div class="col-sm-9" id="listSection"></div>
    </div>
</div>

<div class="modal fade" id="photoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="modalClose" data-dismiss="modal">&times;</button>
                <div class="modal-title">Image Upload</div>
            </div>
            <div class="modal-body" id="popupFormBody">
                <label class="control-label">Select Image</label>
                <input type="file" name="files" accept="image/*" class="file-loading" id="inputPhotos" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-xs pull-right" onclick="onFileInputClearClick('inputPhotos')" data-dismiss="modal">Cancel</button> &nbsp; &nbsp;
                <small><span class="pull-left" id="popupResult1"></span></small>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("contentIdHF")
@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_PopupForm"); }
    @{ await Html.RenderPartialAsync("_FileUploadPopup"); }
    <script src="~/lib/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script>
        $(document).on('ready', function () {
            $("#inputPhotos").fileinput({
                uploadAsync: false,
                showUpload: true,
                showRemove: true,
                multiple: false,
                previewFileType: "image",
                browseClass: "btn btn-success",
                browseLabel: "Browse",
                browseIcon: "<i class=\"glyphicon glyphicon-file\"></i> ",
                removeClass: "btn btn-danger",
                removeLabel: "Cancel",
                removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
                uploadClass: "btn btn-info",
                uploadLabel: "Upload",
                uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> ",
                uploadUrl: '@Url.Action("PhotoUpload", "Admin")'
            });
            $('#inputPhotos').on('filebatchuploadsuccess', function (event, data, previewId, index) {
                $('#popupResult1').html('Image Successfully Uploaded.');
                $('#imageName').val(data.filenames);
            });

            $("#inputFiles").fileinput({
                uploadAsync: false,
                showUpload: true,
                showRemove: true,
                multiple: false,
                previewFileType: "file",
                browseClass: "btn btn-success",
                browseLabel: "Browse",
                browseIcon: "<i class=\"glyphicon glyphicon-file\"></i> ",
                removeClass: "btn btn-danger",
                removeLabel: "Remove",
                removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
                uploadClass: "btn btn-info",
                uploadLabel: "Upload",
                uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> ",
                uploadUrl: '@Url.Action("fileUpload", "Admin")'
            });
            $('#inputFiles').on('filebatchuploadsuccess', function (event, data, previewId, index) {
                $('#filePopupResult').html('File Successfully Uploaded.');
                $.ajax({
                    url: '@Url.Action("UploadSiteContent", "Admin")',
                    type: 'GET',
                    data: { id: $('#contentIdHF').val(), fileName: data.filenames[0] },
                    success: function (result) {
                        $('#listSection').html(result);
                    }
                });
            });
        });

        function onFileInputClearClick(ed) {
            $('#' + ed).fileinput('clear');
        }

        function showPopup() {
            $('#popupResult').html(null).text(null);
            $('.popupBtns').removeAttr('disabled');
        }
        function onPopupSubmit() {
            $('#popupForm').submit();
        }
        function onSuccess() {
            $('#popupResult').html('Successfully Updated.');
            $('.popupBtns').attr('disabled', 'disabled');
        }
        function onFailure() {
            $('#formResult').html('Failed to Update! Please Correct All Errors.');
            $('.popupBtns').removeAttr('disabled');
        }

        function getDictionary(typeName) {
            $.ajax({
                url: '@Url.Action("DictionaryList", "Admin")',
                type: 'GET',
                data: { typeName: typeName },
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function editDictionary(typeName, id, status) {
            $.ajax({
                url: '@Url.Action("EditDictionary", "Admin")',
                type: 'GET',
                data: { typeName: typeName, id: id, status: status },
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }

        //carousel
        function carouselItemsList() {
            $.ajax({
                url: '@Url.Action("CarouselItemsList", "Admin")',
                type: 'GET',
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function addCarouselItem() {
            $.ajax({
                url: '@Url.Action("AddCarouselItem", "Admin")',
                type: 'GET',
                success: function (result) {
                    $('#carouselItemSection').html(result);
                    $("#inputPhotos").html(null);
                }
            });
        }
        function editCarouselItem(id) {
            $.ajax({
                url: '@Url.Action("EditCarouselItem", "Admin")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#carouselItemSection').html(result);
                }
            });
        }
        function cancelCarouselItem() {
            $('#carouselItemSection').html(null);
        }
        function onCarouselSuccess() {
            $('#carouselItemSection').html(null);
        }
        function onCarouselFailure() {
            alert("Error! Failed to Save Carousel Item.");
        }

        //site contents
        function siteContentsList() {
            $.ajax({
                url: '@Url.Action("SiteContentsList", "Admin")',
                type: 'GET',
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function addSiteContent() {
            $.ajax({
                url: '@Url.Action("AddSiteContent", "Admin")',
                type: 'GET',
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add Document / Media');
                    showPopup();
                }
            });
        }
        function editSiteContent(id) {
            $.ajax({
                url: '@Url.Action("EditSiteContent", "Admin")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Edit Site Content');
                    showPopup();
                }
            });
        }
        function uploadSiteContent(id) {
            $('#contentIdHF').val(id);
        }
    </script>    
}