@using HrmsModel.Models;
@model OrgUnit

<div style="color:silver;font-style:italic">
    <small>Last Update: @Model.LastUpdated.ToString("dd-MM-yyyy") By: @Model.UpdatedBy</small>
</div>
<form role="form" id="popupForm" asp-controller="Positions" asp-action="EditHead" data-ajax="true" data-ajax-method="POST" data-ajax-update="#headsSection" data-ajax-success="onSuccess" data-ajax-failure="onFailure">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" name="ouTypeId" id="ouTypeId" />
    <div class="form-group-sm">
        <label class="control-label" asp-for="HeadPositionName"><small>Name (*)</small></label>
        <input type="text" asp-for="HeadPositionName" class="form-control" required />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="OthHeadPositionName"><small>Name Translated (*)</small></label>
        <input type="text" asp-for="OthHeadPositionName" class="form-control" required />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="ReportingToOrgUnitId"><small>Reporting To (if different from the normal flow of authority)</small></label>
        <select class="form-control" asp-for="ReportingToOrgUnitId">
            <option value="">Select from List ...</option>
            @foreach (SelectListItem item in new SelectList(ViewBag.orgUnitsList, "Id", "Name"))
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="LineManagerOrgUnitId"><small>Line Manager (if different from the reporting to)</small></label>
        <select class="form-control" asp-for="LineManagerOrgUnitId">
            <option value="">Select from List ...</option>
            @foreach (SelectListItem item in new SelectList(ViewBag.orgUnitsList, "Id", "Name"))
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="input-group-sm">
        <label class="control-label" asp-for="IsAttendRequired">
            <input type="checkbox" asp-for="IsAttendRequired" />
            <span><small>Is Attendance Required? (*)</small></span>
        </label>
    </div>
    <div class="input-group-sm">
        <label class="control-label" asp-for="IsOverTimeAllowed">
            <input type="checkbox" asp-for="IsOverTimeAllowed" />
            <span><small>Is Overtime Allowed? (*)</small></span>
        </label>
    </div>
    <br />
    <div><label style="color:silver"><small>Optional Position Settings:</small></label></div>
    <hr />
    <div class="form-group-sm">
        <label class="control-label" asp-for="JobCode"><small>Job Code</small></label>
        <input type="text" asp-for="JobCode" class="form-control" />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="JobWeight"><small>Job Weight</small></label>
        <input type="number" asp-for="JobWeight" class="form-control" />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="StandardTitleTypeId"><small>Standard Title</small></label>
        <select class="form-control" asp-for="StandardTitleTypeId">
            <option value="">Select from List ...</option>
            @foreach (SelectListItem item in new SelectList(ViewBag.standardTitlesList, "Id", "Name"))
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="JobGradeId"><small>Job Grade</small></label>
        <select class="form-control" asp-for="JobGradeId">
            <option value="">Select from List ...</option>
            @foreach (SelectListItem item in new SelectList(ViewBag.jobGradesList, "Id", "Name"))
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="SalaryStepId"><small>Salary Step</small></label>
        <select class="form-control" asp-for="SalaryStepId">
            <option value="">Select from List ...</option>
            @foreach (SelectListItem item in new SelectList(ViewBag.salaryStepsList, "Id", "Name"))
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="input-group-sm">
        <label class="control-label" asp-for="IsVacant">
            <input type="checkbox" asp-for="IsVacant" />
            <span><small>Is Vacant?</small></span>
        </label>
    </div>
</form>
