@using HrmsModel.Models;
@model IEnumerable<JobGrade>

<div class="container-fluid">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th><span class="glyphicon glyphicon-sort-by-order-alt"></span></th>
                <th><small>Grade Group</small></th>
                <th><small>Code</small></th>
                <th><small>Name</small></th>
                <th><small>Name Translated</small></th>
                <th><small>Increment%</small></th>
                <th><small>Is Active</small></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td><small>@item.SortOrder</small></td>
                    <td><small>@item.GradeGroup.Code</small></td>
                    <td><small>@item.Code</small></td>
                    <td><small>@item.Name</small></td>
                    <td><small>@item.OthName</small></td>
                    <td><small>@item.SalaryIncrPctg</small></td>
                    <td><input type="checkbox" asp-for="@item.IsActive" disabled readonly /></td>
                    <td>
                        <a href="#" class="btn btn-xs" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>