@{
    ViewData["Title"] = "Governance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-sm-3 hidden-print">
            <label><small>Grading System</small></label>
            <ul class="list-unstyled">
                <li><a href="javascript:getGradeGroupsList();"><small>Job Grade Groups</small></a></li>
                <li><a href="javascript:getJobGradesList();"><small>Job Grades</small></a></li>
                <li><a href="javascript:getStandardTitleTypesList();"><small>Standard Titles</small></a></li>
            </ul>
            <hr />
            <label><small>Competencies</small></label>
            <ul class="list-unstyled">
                <li><a href="javascript:getCompetencyCategoriesList();"><small>Categories</small></a></li>
                <li><a href="javascript:getCompetencySubCategoriesList();"><small>Sub Categories</small></a></li>
                <li><a href="javascript:getCompetenciesList('ORG');"><small>Organization Level Competencies</small></a></li>
                <li><a href="javascript:getCompetenciesList('GRADE_GROUP');"><small>Grade Group Level Competencies</small></a></li>
                <li><a href="javascript:getCompetenciesList('JOB_GRADE');"><small>Job Grade Level Competencies</small></a></li>
            </ul>
            <hr />
            <label><small>Leave Policies</small></label>
            <ul class="list-unstyled">
                <li><a href="javascript:getLeavePoliciesList('ORG');"><small>Organization Level Policies</small></a></li>
                <li><a href="javascript:getLeavePoliciesList('GRADE_GROUP');"><small>Grade Group Level Policies</small></a></li>
                <li><a href="javascript:getLeavePoliciesList('JOB_GRADE');"><small>Job Grade Level Policies</small></a></li>
            </ul>
            <hr />
            <label><small>Allowance Policies</small></label>
            <ul class="list-unstyled">
                <li><a href="javascript:getAllowancePoliciesList('ORG');"><small>Organization Level Policies</small></a></li>
                <li><a href="javascript:getAllowancePoliciesList('GRADE_GROUP');"><small>Grade Group Level Policies</small></a></li>
                <li><a href="javascript:getAllowancePoliciesList('JOB_GRADE');"><small>Job Grade Level Policies</small></a></li>
            </ul>
            <hr />
            <label><small>Salaries</small></label>
            <ul class="list-unstyled">
                <li><a href="javascript:getSalaryStepsList();"><small>Salary Steps</small></a></li>
                <li><a href="javascript:getSalaryScalesList();"><small>Salary Scales</small></a></li>
            </ul>
        </div>
        <div class="col-sm-9" id="listSection"></div>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_PopupForm"); }
    <script>
        $(document).on('ready', function () {

        });

        function showPopup() {
            $('#popupResult').html(null).text(null);
            $('.popupBtns').removeAttr('disabled');
        }
        function onPopupSubmit() {
            $('#popupForm').submit();
        }
        function onSuccess() {
            $('#popupResult').html('Successfully Updated.');
            $('.popupBtns').attr('disabled', 'disabled');
        }
        function onFailure() {
            $('#formResult').html('Failed to Update! Please Correct All Errors.');
            $('.popupBtns').removeAttr('disabled');
        }

        //grades
        function getGradeGroupsList() {
            $.ajax({
                url: '@Url.Action("GradeGroupsList", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function addGradeGroup() {
            $.ajax({
                url: '@Url.Action("AddGradeGroup", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add New Grade Group');
                    showPopup();
                }
            });
        }
        function editGradeGroup(id) {
            $.ajax({
                url: '@Url.Action("EditGradeGroup", "Governance")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Edit Grade Group');
                    showPopup();
                }
            });
        }
        function gradeGroupDetails(id, ggName) {
            $.ajax({
                url: '@Url.Action("GradeGroupDetails", "Governance")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#listSection').html(result);
                    $('#title1').html('Grade Group : ' + ggName);
                }
            });
        }
        function getJobGradesList() {
            $.ajax({
                url: '@Url.Action("JobGradesList", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function addJobGrade() {
            $.ajax({
                url: '@Url.Action("AddJobGrade", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add Job Grade');
                    showPopup();
                }
            });
        }
        function editJobGrade(id) {
            $.ajax({
                url: '@Url.Action("EditJobGrade", "Governance")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Edit Job Grade');
                    showPopup();
                }
            });
        }
        function jobGradeDetails(id, jgName) {
            $.ajax({
                url: '@Url.Action("JobGradeDetails", "Governance")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#listSection').html(result);
                    $('#title1').html('Job Grade : ' + jgName);
                }
            });
        }
        function getStandardTitleTypesList() {
            $.ajax({
                url: '@Url.Action("StandardTitleTypesList", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function addStandardTitleType() {
            $.ajax({
                url: '@Url.Action("AddStandardTitleType", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add Standard Title');
                    showPopup();
                }
            });
        }
        function editStandardTitleType(id) {
            $.ajax({
                url: '@Url.Action("EditStandardTitleType", "Governance")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Edit Standard Title');
                    showPopup();
                }
            });
        }

        //competencies
        function getCompetencyCategoriesList() {
            $.ajax({
                url: '@Url.Action("CompetencyCategoriesList", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function addCompetencyCategory() {
            $.ajax({
                url: '@Url.Action("AddCompetencyCategory", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add Competency Category');
                    showPopup();
                }
            });
        }
        function toggleCompetencyCategory(id, status) {
            $.ajax({
                url: '@Url.Action("ToggleCompetencyCategory", "Governance")',
                type: 'GET',
                data: { id: id, status: status },
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function getCompetencySubCategoriesList() {
            $.ajax({
                url: '@Url.Action("CompetencySubCategoriesList", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function addCompetencySubCategory() {
            $.ajax({
                url: '@Url.Action("AddCompetencySubCategory", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add Competency Sub Category');
                    showPopup();
                }
            });
        }
        function toggleCompetencySubCategory(id, status) {
            $.ajax({
                url: '@Url.Action("ToggleCompetencySubCategory", "Governance")',
                type: 'GET',
                data: { id: id, status: status },
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function getCompetenciesList(level) {
            $.ajax({
                url: '@Url.Action("CompetenciesList", "Governance")',
                type: 'GET',
                data: { level: level },
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function addCompetency(level) {
            $.ajax({
                url: '@Url.Action("AddCompetency", "Governance")',
                type: 'GET',
                data: { level: level },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add New Competency');
                    showPopup();
                }
            });
        }
        function editCompetency(id) {
            $.ajax({
                url: '@Url.Action("EditCompetency", "Governance")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Edit Competency');
                    showPopup();
                }
            });
        }
        function onPolicyLevelChange(level) {
            if (level === "company") {
                if ($('#isCompany').attr('checked') === 'checked') {
                    $('#isCompany').removeAttr('checked');
                    $('#isCompany').removeAttr('required');
                    $('#gradeGroupId').removeAttr('disabled');
                    $('#jobGradeId').removeAttr('disabled');
                    $('#gradeGroupId').attr('required', 'required');
                    $('#jobGradeId').attr('required', 'required');
                } else {
                    $('#isCompany').attr('checked', 'checked');
                    $('#isCompany').attr('required', 'required');
                    $('#gradeGroupId').val(null);
                    $('#gradeGroupId').attr('disabled', 'disabled');
                    $('#jobGradeId').val(null);
                    $('#jobGradeId').attr('disabled', 'disabled');
                    $('#gradeGroupId').removeAttr('required');
                    $('#jobGradeId').removeAttr('required');
                }
            } else if (level === 'gradeGroup') {
                if ($('#gradeGroupId').val()) {
                    $('#jobGradeId').val(null);
                    $('#jobGradeId').attr('disabled', 'disabled');
                    $('#jobGradeId').removeAttr('required');
                } else {
                    $('#jobGradeId').removeAttr('disabled');
                    $('#jobGradeId').attr('required', 'required');
                }
            } else {
                if ($('#jobGradeId').val()) {
                    $('#gradeGroupId').val(null);
                    $('#gradeGroupId').attr('disabled', 'disabled');
                    $('#gradeGroupId').removeAttr('required');
                } else {
                    $('#gradeGroupId').removeAttr('disabled');
                    $('#gradeGroupId').attr('required', 'required');
                }
            }
        }
        function onEditPolicySubmit() {
            $('#gradeGroupId').removeAttr('disabled');
            $('#jobGradeId').removeAttr('disabled');
        }

        //leave
        function getLeavePoliciesList(level) {
            $.ajax({
                url: '@Url.Action("LeavePoliciesList", "Governance")',
                type: 'GET',
                data: { level: level },
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function addLeavePolicy(level) {
            $.ajax({
                url: '@Url.Action("AddLeavePolicy", "Governance")',
                type: 'GET',
                data: { level: level },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add New Leave Policy');
                    showPopup();
                }
            });
        }
        function editLeavePolicy(id) {
            $.ajax({
                url: '@Url.Action("EditLeavePolicy", "Governance")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Edit Leave Policy');
                    showPopup();
                }
            });
        }

        //allowance
        function getAllowancePoliciesList(level) {
            $.ajax({
                url: '@Url.Action("AllowancePoliciesList", "Governance")',
                type: 'GET',
                data: { level: level },
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function addAllowancePolicy(level) {
            $.ajax({
                url: '@Url.Action("AddAllowancePolicy", "Governance")',
                type: 'GET',
                data: { level: level },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add New Allowance Policy');
                    showPopup();
                }
            });
        }
        function editAllowancePolicy(id) {
            $.ajax({
                url: '@Url.Action("EditAllowancePolicy", "Governance")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Edit Allowance Policy');
                    showPopup();
                }
            });
        }

        //salaries
        function getSalaryStepsList() {
            $.ajax({
                url: '@Url.Action("SalaryStepsList", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function addSalaryStep() {
            $.ajax({
                url: '@Url.Action("AddSalaryStep", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add New Salary Step');
                    showPopup();
                }
            });
        }
        function editSalaryStep(id) {
            $.ajax({
                url: '@Url.Action("EditSalaryStep", "Governance")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Edit Salary Step');
                    showPopup();
                }
            });
        }
        function getSalaryScalesList() {
            $.ajax({
                url: '@Url.Action("SalaryScalesList", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function addSalaryScale() {
            $.ajax({
                url: '@Url.Action("AddSalaryScale", "Governance")',
                type: 'GET',
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html('Add New Salary Scale');
                    showPopup();
                }
            });
        }
        function previewSalaryScale(id) {
            $.ajax({
                url: '@Url.Action("PreviewSalaryScale", "Governance")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
        function printSalaryScale() {
            window.print();
        }
    </script>    
}