@{
    ViewData["Title"] = "Org Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div style="text-align:center">
        <h1>Organization Chart</h1>
        <div class="btn-group-xs">
            <button class="btn btn-xs btn-default" id="goUp" onclick="goUp()" title="Up One Level"><span class="fa fa-arrow-up"></span></button>
            <button class="btn btn-xs btn-primary" onclick="addOrgUnit(false)" data-toggle="modal" data-target="#myModal">Add Unit</button>
            <button class="btn btn-xs btn-default" onclick="addOrgUnit(true)" data-toggle="modal" data-target="#myModal">Add Sub</button>
            <button class="btn btn-xs btn-default" id="listBtn" onclick="toggleView()" title="List"><span class="fa fa-list"></span></button>
            <button class="btn btn-xs btn-default" id="chartBtn" onclick="toggleView()" title="Chart"><span class="fa fa-sitemap"></span></button>
        </div>
    </div>
    <br />
    <div id="listSection"></div>
</div>

@Html.Hidden("isList", false)

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_PopupForm"); }
    <script>
        $(document).on('ready', function () {
            $.ajax({
                url: '@Url.Action("OrgChart", "Organization")',
                type: 'GET',
                success: function (result) {
                    $('#listSection').html(result);
                    $('#listViewSection').hide();
                    $('#chartBtn').hide();
                    $('#goUp').attr('disabled', 'disabled');
                }
            });
        });

        function showPopup() {
            $('#popupResult').html(null).text(null);
            $('.popupBtns').removeAttr('disabled');
        }
        function onPopupSubmit() {
            $('#popupForm').submit();
        }
        function onSuccess() {
            $('#popupResult').html('Successfully Updated.');
            $('.popupBtns').attr('disabled', 'disabled');
            if ($('#isList').val() === 'true') {
                $('#listViewSection').show();
                $('#chartViewSection').hide();
            } else {
                $('#listViewSection').hide();
                $('#chartViewSection').show();
            }
        }
        function onFailure() {
            $('#formResult').html('Failed to Update! Please Correct All Errors.');
            $('.popupBtns').removeAttr('disabled');
        }

        function addOrgUnit(isSub) {
            $.ajax({
                url: '@Url.Action("AddOrgUnit", "Organization")',
                type: 'GET',
                data: { parentId: $('#currOrgUnitIdHF').val(), isSub: isSub },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html("Add Organization Unit - Subordinate of: " + $('#currOrgUnitNameHF').val());
                    $('#parentId').val($('#currOrgUnitIdHF').val());
                    showPopup();
                }
            });
        }
        function editOrgUnit(id) {
            $.ajax({
                url: '@Url.Action("EditOrgUnit", "Organization")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html("Edit Business Unit");
                    showPopup();
                }
            });
        }
        function goUp() {
            $.ajax({
                url: '@Url.Action("OrgChart", "Organization")',
                type: 'GET',
                data: { id: $('#currOrgUnitIdHF').val(), isUp: true },
                success: function (result) {
                    $('#listSection').html(result);
                    if ($('#isList').val() === 'true') {
                        $('#listViewSection').show();
                        $('#chartViewSection').hide();
                    } else {
                        $('#listViewSection').hide();
                        $('#chartViewSection').show();
                    }
                }
            });
        }
        function toggleView() {
            if ($('#isList').val() === 'true') {
                $('#isList').val(false);
                $('#listViewSection').hide();
                $('#chartViewSection').show();
                $('#listBtn').show();
                $('#chartBtn').hide();
            } else {
                $('#isList').val(true);
                $('#listViewSection').show();
                $('#chartViewSection').hide();
                $('#listBtn').hide();
                $('#chartBtn').show();
            }
        }

        //positions
        function positionsList(id) {
            $.ajax({
                url: '@Url.Action("PositionsList", "Organization")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#detailsSection').html(result);
                }
            });
        }
        function addPosition(id) {
            $.ajax({
                url: '@Url.Action("AddPosition", "Organization")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html("Add Position to Organization Unit");
                    $('#orgUnitId').val(id);
                    showPopup();
                }
            });
        }
    </script>    
}