@using  HrmsModel.Models
@model IEnumerable<Holiday>

<div class="container-fluid" style="padding:0px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label><small>Holidays</small></label>
            <span class="pull-right"><a href="#" onclick="addHoliday()" data-toggle="modal" data-target="#myModal" title="Add Holiday"><span class="fa fa-plus"></span></a></span>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-condensed" style="font-size:smaller">
                <thead>
                    <tr>
                        <th>Occasion</th>
                        <th>Occaison Day</th>
                        <th>Total Days</th>
                        <th>Hijri?</th>
                        <th>Active?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string holDate;
                        @if (!item.IsHijri)
                        {
                            holDate = item.FromDay + " " + System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.FromMonth);
                        }
                        else
                        {
                            holDate = item.FromDay + "/" + item.FromMonth + " (Hijri)";
                        }
                        <tr>
                            <td>@item.Name</td>
                            <td>@holDate</td>
                            <td>@item.NbrDays</td>
                            <td><input type="checkbox" asp-for="@item.IsHijri" disabled readonly /></td>
                            <td><input type="checkbox" asp-for="@item.IsActive" disabled readonly /></td>
                            <td>
                                <a href="#" class="btn btn-xs pull-right" onclick="addVariation(@item.Id, '@item.Name')" data-toggle="modal" data-target="#myModal" title="Add Variation"><span class="fa fa-plus"></span></a>
                                <a href="#" class="btn btn-xs pull-right" onclick="editHoliday(@item.Id)" data-toggle="modal" data-target="#myModal" title="Edit"><span class="fa fa-pencil"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
